/* Index Webpage */



html{
    scroll-behavior: smooth; 
      
}



/* Body  */
*{ margin: 0px;  padding: 0px; box-sizing: border-box; }


/* Header Section */
nav{
    position: fixed;
    top: 0;
    border-top: solid black; 
    border-bottom: solid black;
    width: 100%;
    height: 50px;
    border-width: thin;
    margin: 0;
    padding: 0;
    z-index: 5; 
    /* height: 50px; */
    
}


ul{
    background-color: #fff;
    padding: 2px;
    display: flex;
    justify-content: space-between;
}

.div1{
    width: 30%;
    padding-right: auto;

}

.div2{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}



li{ margin: 12px; padding: 0; list-style: none; transition: ease-in-out;}
a{text-decoration: none; color: black; font-weight: bold; font-family: sans-serif; font-size: 15px;}

a:hover{color: red;}

.name{width: 100%;  margin: 8px auto 5px 15px; font-family: sans-serif; font-size: 26px; font-weight: bold;}

#body{ padding: 55px 20px 55px 20px; transition-duration: 000001s;}
main{ padding: 50px 0px 55px 0px; }

.container{display: none;}

.th{display: none;}

.p{text-align: justify; }

/*  */
.bt{
    display: none;
    position: absolute;
    top: -11px;
    right: 7px;
}

/*  */
.bt1{
    display: none;
  
}

/*  */
.bt2{
    font-size: 16px;
    cursor: pointer;
    transform: translate(-50%, -50%);
    
    
}

/*  */
.d3{
    display: none;
    z-index: 0;

}














/* index  Web Page */




/*  */
.homesec{
    width: 100%;
    height: 85vh;
}   




/*  */
.homediv{
    display: flex; 
}

 
.homediv1{
    margin: 10% 10%  0px  20%;
    width: 250px;
    height: 250px;
    position: relative;
    background-color: #05568b;
    border-radius: 50%;
    overflow: hidden;
    
}
 
.homediv1::before{
    content: '';
    position: absolute;
    inset: -10px 40px;
    background: linear-gradient(315deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 4s linear infinite;
}




@keyframes animate{
    0%{
        transform: rotate(0deg);
    }

    0%{
        transform: rotate(360deg);
    }
}

.homediv1::after{
    content: '';
    position: absolute;
    inset: 7px;
    background: #0c0b0b;
    border-radius: 50%;
    z-index: 1;

}

.homediv1content{
    position: absolute;
    inset: 15px;
    border: 6px solid black;
    z-index: 3;
    border-radius: 50%;
}
 
.homediv1content img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;  
    transform: 0.5s;

}









.homediv2{
    width: 50%;
    padding: 10% 10%  0px  7%;
}

.homediv2h1{
    font-size: 18px;
    font-weight: 400;
    width: 300px;
    text-align: justify;
    margin-bottom: 20px;
}


/*  */
.homeh1{
    font-size: 38px;
    margin: auto;
    padding-bottom: 50px;
}


/*  */
.homea{
    font-size: 15px;
    border-radius: 5px;
    width: 80px;
    height: 50px;
    padding: 8px;
    background-color: rgb(248, 120, 15);
}





/*  */
.homed1img{
    width: 250px;
    height: 250px;
    border: 10px solid rgb(151, 9, 9);
    border-radius: 130px;
}


/*  */
.homeh12{
    position: absolute;
    opacity: 0;
    top: 243px;
    z-index: 0;
    font-size: 18px;
}

.footimg1{
    width: 26px;
    height: 26px;
    margin-right: 6px;
    background-color: white;
    padding: 4px;
    border-radius: 5px;

}

.foota1{
    margin-top: 20px;
}

.textdiv {
    display: inline-block;
    margin: 5px 0px; 
    
}
   
  
.letter {
    display: inline-block;
    position: relative;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}

.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
    transform: rotateX(-90deg);     
}

.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.t1 {
    color: #7304a3;
}

.t2 {
    color: #0978c2;
}

.t3 {
    color: #f02009;
}

.t4 {
    color: #03866c;
}

.t5 {
    color: #0658aa;
}
.t6 {
    color: #d68d06;
}

.t7 {
    color: #e70966;
}

.t8 {
    color: #b205dd;
}
.t9 {
    color: #057496;
}















/* digi notes index webpage */


/*  */
.diginotesh1{
    text-align: center;
    margin: 10px 0px 80px 0px;
}



/*  */
.diginotes{
    display: flex;
    overflow: scroll;
    height: max-content;
    margin: 0px 50px;
    
}


/* Hide scrollbar for Chrome, Safari and Opera */
.diginotes::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.diginotes {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}  


/*  */
.diginotesinnerdiv{
    padding: 10px;
    border: 1px solid black;
    display: block;
    min-width: 182px;
    margin-right: 20px;
    text-align: center;
    

}



/*  */
.diginotesimg{
    width: 90px;
    height: 90px;
    border-radius: 20px;

}


/*  */
.diginotespara{
    margin: 15px 0px;

}


/*  */
.diginotespay{
    background-color: #e1f010;
    padding: 3px;
    margin-bottom: 10px;
    display: inline-block;
    width: 60%;
    border: 1px solid black;
    border-radius: 5px;
    

}









/* oncourse index webpage */


/*  */
.oncourseh1{
    text-align: center;
    margin: 100px 0px 80px 0px;
}



/*  */
.oncourse{
    display: flex;
    overflow: scroll;
    height: max-content;
    margin: 50px 50px;
    
}


/* Hide scrollbar for Chrome, Safari and Opera */
.oncourse::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.oncourse {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}  


/*  */
.oncourseinnerdiv{
    padding: 10px;
    border: 1px solid black;
    display: block;
    min-width: 182px;
    margin-right: 20px;
    text-align: center;
    

}



/*  */
.oncourseimg{
    width: 90px;
    height: 90px;
    border-radius: 20px;

}


/*  */
.oncoursepara{
    margin: 15px 0px;

}


/*  */
.oncoursepay{
    background-color: #e1f010;
    padding: 3px;
    margin-bottom: 10px;
    display: inline-block;
    width: 60%;
    border: 1px solid black;
    border-radius: 5px;
    

}


/*  */









.last{
    margin-right: -10px;
}





/* Scroll Button index webpage */

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    height: 30px;
    width: 30px;
    margin-right: 5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}


#rights {
    position: absolute;
    height: auto;
    width: 32px ;
    right: 32px;
    top: 920px;
    border: 1px solid black;
    z-index: 3;
}

.left {

    height: 10px;
    width: 10px;
    margin-left: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

#lefts {
    position: absolute;
    left: 27px;
    top: 920px;
    height: auto;
    width: 14px ;
    border: 1px solid black;
    z-index: 3;
    
}





#rights1 {
position: absolute;
height: auto;
width: 14px ;
right: 32px;
top: 1330px;
border: 1px solid black;
z-index: 3;
}

#lefts1 {
position: absolute;
left: 27px;
top: 1330px;
height: auto;
width: 14px ;
border: 1px solid black;
z-index: 3;

}




/*  */




/*  */




/*  */




/*  */




/*  */





/*  */




/*  */




/*  */




/*  */




/*  */




/*  */




/*  */




/*  */






















/* Portfolio Web Page */

/*  */
.portsec{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}


/*  */
.portdiv{
    width: 70%;
    margin-right: auto;
    font-size: 20px;
    text-align: justify;
}



/*  */
.porth11{
    font-size: 26px;
    margin: 50px 0px 20px 0px;

    color: black; 
    border: 2px solid black; 
    /* width: max-content;  */
    padding: 0.5%; 
    background-color: rgba(255, 255, 255, 0.938);
}
.porth1{
    font-size: 25px;
    margin: 100px 0px 20px 0px;

    color: black; 
    border: 2px solid black; 
    /* width: max-content;  */
    padding: 0.5%; 
    background-color: rgba(255, 255, 255, 0.938);
}

.porth12{
    font-size: 19px;
    margin: 30px 0px 10px 20px;
    padding-left: 3px;
    color: black; 
    border: 2px solid black; 
    width: 60%;  
    background-color: rgba(255, 255, 255, 0.938);
}

.porth123{
    font-size: 19px;
    margin: 0px 0px 0px 20px;
    font-weight: 200;
   
}
.porth3{
    margin: 40px 0px 10px 0px;
    font-size: 22px;
}

.portskil{
    line-height: 35px;
}

.portstrength{
    font-size: 19px;
    margin: 0px 0px 10px 0px;
    font-weight: 300;

}

.portp, .portp1{
    font-family:Cambria;
    font-size: 18px;
}






/* Google Ads */

.adsbygoogle{
    display:block;
}

aside{
    padding: 0px 20px 0px 20px;
}

ins.adsbygoogle[data-ad-status="unfilled"] {display: none !important;}






/*  */




/*  */




/*  */




/*  */














/* Education Webpage */
/*  */


/*  */


/*  */



/*  */



/*  */






/* Courses Webpage */


/*  */

.courseh1{
    margin: 30px 0px 70px 0px;
}

.coursedivinner{
    width: 20%;
    height: 375px;
    /* background-color: aliceblue; */
    background-color: rgb(62, 157, 240);
    margin: 15px;
    border-radius: 20px;
    padding: 25px;
    text-align: justify;  
    
    

}

.coursediv{
    display: flex;
    justify-content: center;
    
}

.courseimg{
    width: 100px;
    height: 100px;
    display: flexbox;
    border-radius: 30px;
    justify-content: center;
}

.f2{
    width: 20px;
    height: 20px;
}

.razorbt{
    width: 180px;
    height: 27px; 
    padding: 3px;
    border-radius: 5px;
    /* background-color: rgb(10, 12, 167); */
    background-color: rgb(252, 157, 15);
    align-content: center;
    margin-top: 20px; 
}


.razorbt a{
    
   font-weight: bold;
}


.hide2{
    display: none;
}

.hide3{
    display: none;
}



/*  */


/*  */


/*  */


/*  */




/* Contact Webpage */


/*  */

.csection{
    display: flex;
    justify-content:space-around;
    padding-top: 70px;
}
.divc1{
    width: 40%;
    padding-left: 120px;
   
}
.divc2{
    /* background-color: rgb(238, 240, 243); */
    background-color: rgb(116, 164, 236);
    padding: 20px 20px 20px 20px;
    border-radius: 30px;
    height: 430px;
  
}

.ip{
    width: 280px;
    height: 30px;
    margin-top: 10px;
}

.ip1{
    width: 280px;
    height: 100px;
    margin-top: 10px;
}

.ip2{
    width: 80px;
    height: 30px;
    margin-top: 10px;
}

/*  */

input, textarea{
    padding: 5px;
    color: black;
    display: block;
}
/*  */


/*  */





/* Footer */

.footimg{
    width: 25px;
    height: 25px;
    margin-right: 5px;
    border-radius: 4px;
    background-color: white;
    padding: 4px;
    
}


.footh1{
    font-size: 20px;
    margin-bottom: 10px;
   
}


footer{
    /* background-color: rgb(36, 32, 32); */
    background-color: rgb(14, 12, 12);
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
    color: rgb(199, 193, 193);
    /* color: rgb(167, 162, 162); */

}

footer a{
    margin-top: 2px;
    font-size: 12px;
    padding-left: 5px;
    color: rgb(167, 162, 162);
}


/*  */
.cp{
    line-height: 20px;
    font-size: 18px;

}







/* Projects Webpage */

/* section */

.projrcth1{
    font-size: 22px;
    margin: 40px 0px 10px 0px;
    border: 2px solid black; 
    width: max-content; 
    padding: 0.5%; 
}

.projectsec{
    margin-left: auto;
    margin-right: auto;
}

.sdiv{
    width: 85%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
    padding: 50px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.938);
    
    

}

.reversediv{
    flex-direction: row-reverse;
   
}


.sdiv1{
    width: 60%;
  
}
.sdiv2{
    width: 34%;
    text-align: center;
  
}




.secp{
    font-size: 18px;
    width: 80%;
    color: black;
}

/*  */
.webimg{
    width: 100%;
    height: 200px;
    /* border: 2px solid black; */
}

.dot, .dot1, .dot2, .dot3{
    height: 12px;
    width: 12px;
    margin-right: 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #0c0b0b;
}

.dotdiv{
    text-align: center;
}

.slideshow{
    width: 350px;
   
}

.imgdiv, .imgdiv1, .imgdiv2, .imgdiv3{
    display: none;
}
