@media only screen and (min-width: 0px) and (max-width: 450px){      
    
  nav{
    border-bottom: solid black;
    border-width: 0;
    
}

  
  .div1{
    width: auto;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black ;
    border-top: solid black ;
    border-width: thin;
    /* background-color: white; */


      
  }
    
    .div3{
      width: 95vw;
      height: 85vw;
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 10px;
      /* padding-top: 10px; */
      justify-content: space-evenly;
      /* background-color: rgb(241, 199, 199); */
      background: rgb(235, 232, 232);
      border: solid black ;
      border-width: 0;
      border-radius: 30px;
      position: relative;
  
    }

    .div31{
      display: flex;
      justify-content: space-evenly;
      margin-top: 10px;


    }
    
    .div311{
      width: 90px;
      height: 50px;
    }
    

    .d2{display: none;}

    a{color: black; font-size: 16px;}

    
    .name{
        width: 100%;  
        margin: 8px auto 5px 5px;
        font-size: 20px;
    }

    ul{
        display: block;
        padding: 0px;
    }


    li{ margin: 2px; padding: 0; list-style: none;}

    .bt{display: block;}
    .bt2{display: none;}

    .bt1{
      display: block; 
      font-size: 25px;
      cursor: pointer;
      position: absolute;
      top: 22px;
      right: 92px;
      transform: translate(-50%, -50%);
    }

    .th{display: block;}

    .grid{position: absolute; top: 21px; right: 11px;  width: 30px;  height: 30px; }
    

    .imgo{
      width: 30px;
      height: 30px;
      margin-bottom: 5px; 
    }

    .im{
      border-radius: 20px;
    }


    @import url('abc.js');


    @import url('https://fonts.googleapis.com/css?family=Inconsolata:700');
    
    .container {
        display: block;
        position: absolute;
        margin: auto;
        top: 8px;
        right: 60px;
        width: 32px;
        height: 32px;
        .search {
          position: absolute;
          margin: auto;
          top: 1px;
          right: 0;
          width: 30px;
          height: 30px;
          background: rgb(121, 10, 32);
          border-radius: 39%;
          transition: all 1s;
          z-index: 4;
          /* box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4); */
          /* box-shadow: 0 0 25px 0 crimson;  */
          &:hover {
            cursor: pointer;
          }
          &::before {
            content: "";
            position: absolute;
            margin: auto;
            top: 12px;
            right: 0;
            bottom: 0;
            left: 12px;
            width: 8px;
            height: 2px;
            background: white;
            transform: rotate(45deg);
            transition: all .5s;
          }
          &::after {
            content: "";
            position: absolute;
            margin: auto;
            top: -4px;
            right: 0;
            bottom: 0;
            left: -3px;
            width: 9px;
            height: 9px; 
            border-radius: 50%;
            border: 2px solid white;
            transition: all .5s;
          }
        }
        input {
          font-family: 'Inconsolata', monospace;
          position: absolute;
          margin: auto;
          top: 2px;
          right: 0;
          bottom: 0;
          width: 30px;
          height: 40px;
          outline: none;
          border: none;
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
          background: rgb(43, 73, 129);
          color: white;
          text-shadow: 0 0 10px crimson;
          padding: 0 10px 0 20px;
          border-radius: 30px;
          box-shadow: 0 0 25px 0 crimson,
                      0 20px 25px 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5);
          transition: all 1s;
          opacity: 0;
          z-index: 5;
          font-weight: bolder;
          letter-spacing: 0.1em;
          &:hover {
            cursor: pointer;
          }
          &:focus {
            width: 82vw;
            opacity: 1;
            cursor: text;
          }
          &:focus ~ .search {
            right: 0px;
            background: #151515;
            z-index: 6;
            &::before {
              top: 0;
              left: 0;
              width: 25px;
            }
            &::after {
              top: 0;
              left: 0;
              width: 25px;
              height: 2px;
              border: none;
              background: white;
              border-radius: 0%;
              transform: rotate(-45deg);
            }
          }
          &::placeholder {
            color: white;
            opacity: 0.5;
            font-weight: bolder;
          }
        }
  }

}