/* Index Webpage */


/* Body  */
*{ margin: 0px;  padding: 0px; box-sizing: border-box;}


/* Header Section */
nav{
    position: fixed;
    top: 0;
    border-top: solid black;
    border-bottom: solid black;
    width: 100%;
    border-width: thin;
    margin: 0;
    padding: 0;
    /* height: 50px; */
    
}

ul{
    background-color: #fff;
    /* background-color: sandybrown; */
    padding: 2px;
    display: flex;
    justify-content: space-between;
}

.div1{
    width: 30%;
    padding-right: auto;

}

.div2{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}



li{ margin: 12px; padding: 0; list-style: none;}
a{text-decoration: none; color: black; font-weight: bold; font-family: sans-serif; font-size: 15px;}

a:hover{color: red;}

.name{width: 100%;  margin: 8px auto 5px 15px; font-family:sans-serif; font-size: 26px; font-weight: bold;}

main{ padding: 70px 20px 55px 20px;}

.container{display: none;}

.th{display: none;}

.p{text-align: justify; }

.bt{
    display: none;
    position: absolute;
    top: -11px;
    right: 7px;
}
.bt1{
    display: none;
  
}

.bt2{
    font-size: 16px;
    cursor: pointer;
    transform: translate(-50%, -50%);
    
    
}

.d3{
    display: none;

}


/*  */



/*  */



/*  */



/*  */














/* Education Webpage */
/*  */


/*  */


/*  */



/*  */



/*  */






/* About Webpage */


/*  */

/*  */


/*  */


/*  */


/*  */