/* Index Webpage */


/* Body  */
*{ margin: 0px;  padding: 0px; box-sizing: border-box;}


/* Header Section */
nav{
    border-top: solid black;
    border-bottom: solid black;
    width: 100%;
    border-width: thin;
    /* height: 50px; */
    
}

ul{
    background-color: #fff;
    /* background-color: sandybrown; */
    padding: 4px;
    display: flex;
    justify-content: space-between;
}

.div1{
    width: 60%;
    margin-right: auto;

}

.div2{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}



li{ margin: 12px; padding: 0; list-style: none;}
a{text-decoration: none; color: black; font-weight: bold; font-family: sans-serif; font-size: 15px;}

a:hover{color: red;}

.name{width: 100%;  margin: 8px auto 5px 15px; font-family:sans-serif; font-size: 26px;}





/*  */



/*  */



/*  */



/*  */














/* Education Webpage */
/*  */


/*  */


/*  */



/*  */



/*  */






/* About Webpage */


/*  */

/*  */


/*  */


/*  */


/*  */