@media only screen and (min-width: 850px) and (max-width: 1150px){      

    .csection{
       
        padding-top: 20px;
      }
    
    .divc1{
        /* width: 0%; */
        padding-left: 81pxpx;
    }
    
    .divc2{
        /* width: 50%; */
        /* margin-right: 10px; */
    }

    .name{
        width: 100%; 
        font-size: 20px;
    }

    .ip{
        width: 280px;
        height: 30px;
        margin-top: 10px;
    }
    
    .ip1{
        width: 280px;
        height: 100px;
        margin-top: 10px;
    }
















}
