@media only screen and (min-width: 0px) and (max-width: 450px){      
    
    .div1{
        width: 70%;
        margin-right: auto;
    }
    
    .div2{
       display: none;
    }
    
    .name{
        width: 100%;  
        margin: 8px auto 5px 5px;
        font-size: 20px;
    }
    
















}