@media only screen and (min-width: 450px) and (max-width: 860px){      

    .div1{
        width: auto;
        /* padding-right: 0px; */
    }
    
    .div2{
        width: 55%;
    }

    .name{
        width: 100%; 
        font-size: 20px;
    }

















}