@media only screen and (min-width: 450px) and (max-width: 860px){      

    .div1{
        width: 50%;
    }
    
    .div2{
        width: 50%;
    }

    .name{
        width: 100%; 
        font-size: 20px;
    }

















}